body {
    overflow-x: hidden;
}
.feed-header-body {
    width: 75% !important;
    display: flex;
    justify-content: space-between;
}
.menu--header {
    background-color: transparent;
}
.menu   {
    padding: 30px 0px 0px;
    margin-bottom: 10;
}
.menu--header--body {
    margin-top: 52px;
}
.timeçine--area {
    background-color: transparent;
}
.feed-body-post {
    width: 75vw;
    background-color: #121212;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    justify-items: center;
    align-items: center;
}
.area_jogo_body {
    width: 230px;
    height: 280px;
    margin-top: 20px;
    background-color: #393939;
    border-radius: 5px;
}
.jogo_header {
    height: calc(100%/1.7);
}
.jogo_area_img {
    height: 100%;
    background-image: url(../../imgs/posts/primeira\ pub\ tcc.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 0px 0px;
    background-repeat: no-repeat;
}
.jogo_area_titulo {
    padding: 5px 10px;
    color: #fff;
}
.jogo_area_comando {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: center;
}
.button_para {
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: 20px;
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    background-color: #121212;
    background-repeat: no-repeat;
}
.g1 {
    margin-left: 18px;
}

