.img_area input {
    opacity: 0;
    z-index: 0;
    display: none;
}
.img_area {
    height: 250px;
}
.img_ {
    width: 350px;
    height: 100%;
    background-color: #000;
    border-radius: 10px;
    border: 0.5px solid #545454;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}
.img_ label {
    margin-right: 20px;
}
.img_ .img_edit_area {
    display: flex;
    align-items:center;
    justify-content: center;
}
.img_area .img_edit_area {
    height: 100%;
    position: relative;
}
.event_form_edit {
    width: 40px ;
    height: 40px;
    border-radius: 100%;
    background-color: #202020;
    box-shadow: 0px 0px 7px 2px #202020;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.rm_img {
    background-image: url(../../../../assets/imgs/default/exit.png);
    background-size: 35%;
}
.event_form_edit:hover {
    cursor: pointer;
    background-color: #3f3f3f;
    transition: all linear 0.25s;
}
.add_img {
    background-image: url(../../../../assets/imgs/default/add-photo.png);
}
.area_2 {
    margin: auto;
    width: 80%;
    margin-top: 15px;
}
.area_loja {
    display: flex;
    flex-direction: row;
}
.nome_slec {
    display: flex;
    flex-direction: row;
}
.input_default {
    width: 100%;
    margin: auto;
    flex: 1;
    background-color: transparent;
    color: #fff;
    border: none;

}
.input_default option {
    background-color: #3f3f3f;
}
.header_area_input {
    color: #919191;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;    
}
.input_div_area {
    flex: 1;
    margin: 3px 5px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #424242;
    transition: all ease 0.25s;
}
.input_default:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}
.input_div_desc:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}

.input_div_area span {
    transition: all ease 0.25s;
}
.input_div_area:hover {
    cursor: text;
    transition: all linear 0.25s;

}
.right_input {
    margin-left: 10px;
}
button {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    background-color: #55ffff;
    border: none;
}
button:hover {
    cursor: pointer;
    background-color: #44d3d3;
    transition: all linear 0.25s;
}
.active--input {
    box-shadow: 0px 0px 7px 3px #00adb9;
}.color_font_input_act span{
    color: #00adb9!important;
}
.back_p {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #141414;
}.back_p:before {
    content: "";
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #55ffff;
    border-left: 3px solid #55ffff;
    transform: rotate(calc(90deg/2));
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}.back_p:hover{
    background-color: #2b2b2b;
    transition: all linear .25s;
}
