body {
    font-family: 'Roboto';
}
.body_active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area_input {
    padding: 45px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px #000;
    background-color: #f0f0f0;
}