.buttons_acpt::after {
    content: "Colocar em quarentena";

}
.buttons_area {
    width: 190px;
}
.buttons_rej::after {
    content: "Excluir publicação";
}
.buttons_edit::after {
    content: "Tudo ok";
}
.buttons_qua::after {
    content: "Retirar da quarentena";
}
.buttons_visualizar_p::after {
    content: "Visualizar publicações";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.buttons_sus::after {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    content: "Suspender usuário";
}
.buttons_sus_r::after {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    content: "Retirar suspenção do usuário" !important;
}
.img_p {
    width: 150px;
    height: 150px;
    padding: 0px !important;
    border-radius: 100% !important;
}
.img_area .title_midia {
    height: auto;
    width: 100%;
}
.img_area {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.conteudo_b_I {
    align-items: center;
} 

.area_publicação {
    position: fixed;
    width: 80%;
    overflow-y: auto;
    z-index: 4;
    left: 0px;
    top: 0px;
    margin:20px 10%;
    bottom: 0px;
    overflow-x: hidden;
    max-height: 100%;
    /* background-color: #; */
    opacity: 1;
    transition: all ease 0.25s;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 7px 2px #000;
    border-bottom-right-radius: 5px;
}
.area_publicação .feed-body-post {
    background-color: #252525;
    padding-top: 48px;
    min-height: 100%;
}
.header_ultra_pag {
    height: 45px;
    width: 80%;
    position: fixed;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #53ffff;
}
.close_pag {
    height: 100%;
    width: 50px;
    margin: 0px 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area_exit_ {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #252525;
    border-radius: 100%;
    background-image: url('../../../../assets/imgs/default/exit.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.area_exit_:hover {
    cursor: pointer;
    background-color: #444444ea;
}
.area_fundo {
    top: 0px;
    left: 0px;
    z-index: -1;
    background-color: #0000008f;
    position: fixed;
    width: 100%;
    height:100%;
    
}
.post--menu--area {
    padding-bottom: 20px;
}
.img--perfil {
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-right: 8px;
    border-radius: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
