* {
    transition: all 0.3s ease;
}
.feed-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.menu--pag--area {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.feed-logo-body {
    background-color: #222222;
    height: 6.5%;
    margin-bottom: 3%;
}
.logo--area {
    width: 14%;
    height: auto;
}
.logo--area  img {
    width: 75%;
    margin-top: 10%;
}
.body--menu-pag {
    width: 100%;
    height: 100%;
    background-color: #222222;
}

.timeline--area {
    height: auto;
    width: 47%;
    margin-left: 25%;
    margin-right: 1%;
    background-color: #222222;
}
.area--convite {
    width: 23%;
    height: 40vh;
}
.convite--body {
    width: 100%;
    height: 85%;
    background-color: #00ff80;
}
.menu--header--body {
    position: fixed;
}
.menu--pag-perfil--area {
    width: 80%;
    height: 10%;
    margin: auto;
    background-color: #111111;
    border-radius: 30px;
    margin-top: 15%;
}
.menu--pag {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 86%;
    color: #000;
    
}
.menu--pag--event01 {
    cursor: pointer;
}
.menu--pag--img--area {
    width: 45px;
    height: 45px;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 100%;
    background-color: #ffffff;
    background-image: url('../../imgs/profile/IMG_20220517_170714.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.menu--pag--button-menu--area {
    height: 100%;
    flex: 1;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu--pag--button {
    width: 35px;
    height: 35px;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.menu--pag--name-perfil {
    font-size: 18px;
    color: #ffffff;
}
.menu--pag--username-perfil {
    font-size: 13px;
    color: #e7e7e7;
}
.menu--pag--button div {
    width: 12px; /*width: 18px;*/
    height: 12px;/*height: 18px;*/
    border-left: 2px solid #53ffff;
    border-bottom: 2px solid #53ffff;
    transform: rotate(314deg);
    margin-top: -5px;
}  
.menu--pag--opt--menu--area {
    background-color: #4e4e4e;
    margin-left:-10%;
    width: 120%;
    margin-top: -28%;
    padding-top: 100px;
    border-radius: 10px;
}
.menu--pag--opt--menu--area div {
    color: #fff;
}
.menu--pag--opt {
    padding: 15px;
}
.menu--pag--opt--section:hover {
    background-color: #fdfdfd36;
    transition: all linear 0.3s;
    cursor: pointer;
}
.menu--pag--opt--section {
    height: 30px;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    color: #0f0f0f;
    margin: 1px;
    margin-bottom: 7px;
    border-radius: 10px;
}
.img--opt-feed {
    background-position: 5px;
    background-size: 12%;
    padding-left: 17% ;
    background-repeat: no-repeat;
}
.img--pag--inicial {
    background-image: url('../../imgs/default/casa.png');
}
.img--pag--jogos {
    background-image: url('../../imgs/default/controle-de-video-game.png');
}
.img--pag--solic {
    background-image: url('../../imgs/default/solicitacao1.png');
    background-size: 10%;
}
.img--pag--perf {
    background-image: url('../../imgs/default/perfil-de-usuario.png');
    background-size: 10%;
}
@media screen and (max-width:1605px) {
    .menu--pag--opt--menu--area {
        margin-top: -40%;
    }
}
@media screen and (max-width:1125px) {
    .menu--pag--opt--menu--area {
        margin-top: -50%;
    }
    .menu--pag--img--area {
        width: 37px;
        height: 37px;
        margin-left: 5%;
        margin-right: 3%;
        border-radius: 100%;
        background-color: #ffffff;

    }
}
/*versão mobile incia aq*/
@media screen and (max-width:828px) {
    .menu--pag--opt--menu--area {
        margin-top: -65%;
    }
}

/*classes de eventos*/
.event--menu-pag {
    display:none;
    height:130px; 
    width: 114%;
    margin-left: -8%;
    overflow-y: hidden;
    background-color: #00000000;
    /*para o menu ganhar forma padding-bottom: 267px;*/
}
.event { /*Bolinha de carregamento*/
    width: 30px;
    height: 30px ;
    border-radius: 100%;
    border: 3px solid linear-gradient(172deg,#e63333, #690efa);
    transition: all ease 0.3s;
    border-bottom: 3px solid #00ff80;
    border-top: 3px solid #00ff80;
}

.dimensoes--seta {
    width: 14px!important;
    height: 14px !important;
    transform: rotate(134deg)!important;
    margin-bottom: -10px;
}
.menu--pag--button:hover {
    background-color: #3d3d3d;
}


/*Feed*/

.feed-header-body {
    background-color: #333333b2;
    background-image: linear-gradient(84deg, #1c1c1c78,#43434378,#1c1c1c78,#43434378);
    width: 47%;
    height: 6.5%;
    position: fixed;
    display: flex;
    align-items: center;
    color: #fff;
}
.feed-header-body h1 {
    font-size: 20px;
    font-weight: normal;
    margin-top:20px ;
    margin-left: 20px;
}
.feed-body-post {
    padding-top: 9%;
}
/*postagens*/
/*
border??
link no nome e @


*/