.elipse--menu {
    background-image: url(../../imgs/default/elipse.png);
}
.menu--pag--button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
}
.menu--pag--button {
    margin-left: 15px;
}
.seta--back {
    width: 30px;
    height: 30px;
    background-image: url('../../imgs/default/seta-esquerda.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}
.button--back {
    margin-right: 20px;
}
.seta--back {
    cursor: pointer;
}
.button--back {
    transform: rotate();
}