body {
    color: #f1f1f1;
}
.post-completo-area {
    min-height: 280px;
    width: auto;
    border-bottom: 0.5px solid #5f5f5f;
}
.post--text {
    padding: 10px 27px 18px 19px;
}
.post--img-area {
    height: auto;
} 
.post--img-area {
    width: auto;
    height: auto;
}
.event--post--img {
    min-width: 300px;
    min-height: 300px;
    max-width: 590px;
    max-height: 600px;
}
.event--post--img {
    width:fit-content;
    height: fit-content;
}
.info--post--complete {
    display: flex;
    flex-direction: column;
}
.interação--info {
    display:flex;
    justify-content: space-evenly;
    padding: 20px 5px;
    font-size: 15px;
}
.post--game-area {
    padding: 15px 20px ;
    color: #a0a0a0;
}
.post--area--date {
    font-size: 16px;
    display: flex;
    margin-right: 0px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 15px;
}
.img--perfil-red {
    width: 38px;
    height: 38px;
}
.coment--area {
    display: flex;
    flex-direction: row;
}
.post--area--perfil-coment {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 5px;
}
.body--coment--area {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.user--perfil--info {
    flex: 1;
}
.coment--conteudo--text {
    padding: 5px 27px 0px 0px;
    font-size: 15px;
}
.coment-link {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}
.username--perfil--coment {
    margin-top: 6px;
    margin-left: 2px;
}