body {
    color: #f1f1f1;
}
.post-completo-area {
    min-height: 280px;
    width: auto;
}
.post--text {
    padding: 10px 27px 18px 19px;
}
.post--img-area {
    height: auto;
} 
.post--img-area {
    width: auto;
    height: auto;
}
.event--post--img {
    min-width: 300px;
    min-height: 300px;
    max-width: 590px;
    max-height: 600px;
}
.event--post--img {
    width:fit-content;
    height: fit-content;
}
.info--post--complete {
    display: flex;
    flex-direction: column;
}
.interação--info {
    display:flex;
    justify-content: space-evenly;
    padding: 20px 5px;
    font-size: 15px;
}
.post--area--date {
    font-size: 16px;
    display: flex;
    margin-right: 0px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 15px;
}