body {
    overflow-x: hidden;
}
.feed-header-body {
    width: 75% !important;
    display: flex;
    justify-content: space-between;
}
.menu--header {
    background-color: transparent;
    margin-top: -5px;
    margin-bottom: 10px;
}
.menu   {
    padding: 30px 0px 0px;
    margin-bottom: 10px;
}
.menu--header--body {
    margin-top: 52px;
}
.timeline--area {
    background-color: transparent;
}
.feed-body-post {
    width: 75vw;
    background-color: #121212;
}
.form_solicitacao_area {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.form_solicitacao_area form {
    width: 50%;
    border-radius: 15px;
    padding: 20px 0px;
    background-color: #202020;
    box-shadow: 0px 0px 7px 3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputs_area {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.form_solicitacao_area input {
    width: 95%;
}
.cap_area {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.img_cap_solicita {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    background-color: #000;
    background-image: url(../../imgs/games/r.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_buttons {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0px 0px 7px 3px #272727;
    background-color: #222222;
}
.img_buttons:hover {
    background-color: #424242af;
    cursor: pointer;
    transition: all linear 0.25s;
}
.remove {
    margin-left: 15px;
}