body {
    overflow-x: hidden;
}

.feed-header-body {
    width: 75% !important;
    display: flex;
    justify-content: space-between;
}
.menu--header {
    background-color: transparent;
    margin-top: -5px;
    margin-bottom: 10px;
}
.menu   {
    padding: 30px 0px 0px;
    margin-bottom: 10px;
}
.menu--header--body {
    margin-top: 52px;
}
.timeline--area {
    background-color: transparent;
}
.feed-body-post {
    width: 75vw;
    background-color: #121212;
}
.form_solicitacao_area {
    display: flex;
    color: #fff;
    justify-content: center;
    margin-top: 40px;
}
.form_solicitacao_area form {
    width: 45%;
    border-radius: 15px;
    padding: 20px 7px;
    background-color: #202020;
    box-shadow: 0px 0px 7px 3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputs_area {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.form_solicitacao_area input {
    width: 95%;
}
.cap_area {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.add-imagem {
    margin-right: 0px;
}
.remove-imagem  {
    margin-left: 30px;
}
.img_cap_solicita {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_buttons {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0px 0px 7px 3px #272727;
    background-color: #222222;
}
.img_buttons:hover {
    background-color: #424242af;
    cursor: pointer;
    transition: all linear 0.25s;
}
.remove {
    margin-left: 15px;
}
.area_loja .loja_inputs {
    display: flex;
    flex-direction: row;
}
.input_default_soli {
    margin: auto;
    width: 100%;
    height: 40px;
    border: 1.5px solid rgb(0, 0, 0);
    font-size: 13px;
    padding: 2px 7px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #d3d3d3dc;
    transition: all ease 0.25s;
}
.input_default_soli span {
    transition: all ease 0.25s;
}
.input_default_soli label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input_default_soli input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    border: none;
}
.input_default_soli input:focus {
    outline: none;
    box-shadow: none;
}
.link_loja {
    margin-left: 10px;
}
.check_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    word-break: break-all;
    margin: auto;
    width: 90%;
}
.check_area input {
    width: 15px;
    height: 15px;
}
.check_box_text {
    display: inline-block;
    font-size: 14px;

}
.check_area {
    margin: 5px 10px;
    color: #999999;
}
.input_desc_solicita_area {
    height: auto;
}
.input_div_desc {
    color: #fff;
}
.input_div_desc:focus {
    outline: none;
    box-shadow: none;
}
.input_div_desc span, .input_div_desc div, .input_div_desc a {
    background-color: transparent;
    color: #fff;
    background-image: none;
    text-align: left;
} 
.button_submit {
    padding: 10px 50px;
    background-color: #0fa8b3;
    border: none;
    border-radius: 5px;
    color: #fbfbfb;
}
.button_submit:hover {
    cursor: pointer;
    background-color: #0cc7d5;
    transition: all linear 0.25s;
}