body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    background-color: #585858 !important;
}
.a_nav {
    width: auto;
    height: auto;
    display: block;
}
:focus-visible {
    box-shadow: 0px 0px 7px 4px #00adb9;
    outline: #00adb9 solid 2px;
    border-radius: 5px;
}
header {
    background-color: #a7f9ff;
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: space-between;
}
.logo_beep {
    margin-left: 25px;
    background-image: url(../../../../assets/imgs/default/Beep_logo.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
}
.menu_name_root {
    display: flex;
    flex-direction: row;
}
.name_adm {
    display: flex;
    height: 100%;
    align-items: center;
    font-size:18px;
}

.body_button_menu {
    background-color: #00eeff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 0px 20px;
    margin-left: 5px;
}
.body_button_menu:hover {
    background-color:#02d3e2 ;
    cursor: pointer;
    transition: all linear 0.25s;
}
.seta_body {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color_96f {
    background-color: #96f8ff;
}
.seta_body:hover {
    cursor: pointer;
    background-color: #424242;    
    transition: all linear 0.2s;
}
.seta {
    margin-top: -5px;
    width: 38%;
    height: 38%;
    border:2px solid transparent;
    border-left-color:#00a2ad ;
    border-bottom-color:#00a2ad ;
}
.down_seta {
    transform: rotate(314deg);
}
.menu_show {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_show .seta_body {
    background-color: #000;
}
.menu_show .seta_body:hover {
    background-color: #4d4d4d;
}
.title_main {
    font-size: 25px;
    color: #f0f0f0;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.corpo_list {
    display: flex;
    flex-direction: column;
}
.list_area {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #3b3b3b;
}
.area_list_info_1 {
    display: flex;
    flex-direction: row;
}
.list_img {
    width: 50px;
    height: 50px;
    background-image: url(../../../../assets/imgs/games/r.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-left-color:#00eeff ;
    border-left-style: solid;
    border-left-width:5px ;
}
.list_title {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #fff;
}
.area_list_info_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button_int {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b_color {
    background-color: #4b4a4a;
}
.button_a {
    background-color: #5dff56c4;
}
.button_a .img_ {
    background-image: url(../../../../assets/imgs/default/aceitar.png);
}
.img_ {
    width: 50%;
    height: 50%;
    background-size: contain;
}
.button_b {
    margin-left: 10px;
    background-color: #ff5454;
}
.button_b .img_ {
    background-image: url(../../../../assets/imgs/default/remove.png);
}
.button_c {
    background-color: #ffe554;
    margin-left: 10px;
    margin-right: 20px;
}
.button_c .img_ {
    background-image: url(../../../../assets/imgs/default/generic_lupa_black.png);
}