body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    background-color: #000 !important;
}
.a_nav {
    width: auto;
    height: auto;
    display: block;
    color:inherit;
    text-decoration: none;
}
:focus-visible {
    box-shadow: 0px 0px 7px 4px #00adb9;
    outline: #00adb9 solid 2px;
    border-radius: 5px;
}
header .container {
    background-color: #53ffff;
    height: 55px;
    display: flex;
    justify-content: space-between;
}
.logo_beep {
    margin-left: 25px;
    background-image: url(../../../../assets/imgs/default/Beep_logo.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
}
.menu_name_root {
    display: flex;
    flex-direction: row;
}
.name_adm {
    display: flex;
    height: 100%;
    align-items: center;
    font-size:18px;
}

.body_button_menu {
    background-color: #202020;
    height: 100%;
    color: #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 0px 20px;
}
.body_button_menu:hover {
    background-color:#424242 ;
    cursor: pointer;
    transition: all linear 0.25s;
}
.seta_body {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seta_body:hover {
    cursor: pointer;
    background-color: #252525;    
    transition: all linear 0.2s;
}
.body_button_menu .seta {
    border-left-color:#ffffff ;
    border-bottom-color:#ffffff ;
}
.seta {
    margin-top: -5px;
    width: 38%;
    height: 38%;
    border:2px solid transparent;
    border-left-color:#00a2ad ;
    border-bottom-color:#00a2ad ;
}
.down_seta {
    transform: rotate(314deg);
}
.menu_show {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
}
.menu_show .seta_body:hover {
    background-color: #4d4d4d;
}
.title_main {
    font-size: 25px;
    color: #f0f0f0;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.corpo_list {
    display: flex;
    flex-direction: column;
}
.list_area {
    width: 99.5%;
    margin-left: 0.5%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border: 0.1px solid #2a2525;
    background-color: #3b3b3b;
}
.area_list_info_1 {
    display: flex;
    flex-direction: row;
}
.list_img {
    width: 70px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #202020;
    border-left-color:#00eeff ;
    border-left-style: solid;
    border-left-width:5px ;
}
.list_title {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #fff;
}
.area_list_info_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button_int {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b_color {
    background-color: #4b4a4a;
}
.button_a {
    background-color: #5dff56c4;
}
.button_a .img_ {
    background-image: url(../../../../assets/imgs/default/aceitar.png);
}
.img_ {
    width: 50%;
    height: 50%;
    background-size: contain;
}
.button_b {
    margin-left: 10px;
    background-color: #ff5454;
}
.button_b .img_ {
    background-image: url(../../../../assets/imgs/default/remove.png);
}
.button_c {
    background-color: #ffe554;
    margin-left: 10px;
    margin-right: 20px;
}
.button_c .img_ {
    background-image: url(../../../../assets/imgs/default/generic_lupa_black.png);
}
.min-event {
    width: 20px!important;
    height: 20px!important;
}
.event-block {
    display: inline-block;
}
.event { /*Bolinha de carregamento*/
    width: 30px;
    height: 30px ;
    border: 3px solid #545454;
    border-left-color:#53ffff ;
    border-radius: 100%;
    animation: 1s loading linear infinite;
}
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}
.mensagem_alert {
    position: fixed;
    width: auto;
    bottom: 5%;
    right: 5%;
    height: auto;
    padding: 10px 15px;
    background-color: #338b00;
    color: #fff;
    border-radius: 10px;
    z-index: 999;
}
.modal_confirm {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: all ease 0.2s;
    align-items: center;
}
.event_modal_confirm {
    position: fixed;
    z-index: 997;
    width: 100%;
    height: 100%;
    background-color: #00000085;
}
.modal_ {
    position: relative;
    border-radius: 5px;
    background-color: #313131;
    box-shadow: 0px 0px 7px 3px #464646f6;
    height: auto;
    padding: 10px 0px;
    margin: auto;
    width: 80%;
    z-index: 998;
}
.modal_ {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.modal_mensage {
    color: #FFF;
    padding: 15px 0px;
    font-size: 16px;
    margin-left: 5%;
}
.modal_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.confirm_modal::before {
    content: 'Sim';
    color: #fff;
}
.confirm_modal {
    background-color: #000000;
    padding:  1% 3%;
    cursor: pointer;
    border-radius: 10px;
}
.confirm_modal:hover {
    background-color: #1f1f1f;
    transition: all linear 0.25s;
}
.reject_modal::before {
    content: 'Não';
    color: #fff;
}
.reject_modal {
    background-color: #000000;
    cursor: pointer;
    padding: 1% 3%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}
.reject_modal:hover {
    background-color: #1f1f1f;
    transition: all linear 0.25s;
}
.container {
    color: #fff;
    margin: auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.border_c {
    box-shadow: inset -6px 0px 0px 0px #53ffff;
}
.title_solicitacao {
    padding: 25px 30px;
    margin-left: 15px;
    font-size: 22px;
}
.conteudo_b_I {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.img_area {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0px 5px;
    color: #c1c1c1;
}
.img_p {
    display: flex;
    align-items: center;
}
.img_area img, .img_area video, .img_area .img_p {
    padding: 0px 8%;
    border: 0.5px solid #444444;
    background-image: linear-gradient(#fff0, #000000);
    border-radius: 15px;
    min-height: 150px;
    min-width:  150px ;
    max-width: 400px;
    max-height: 400px;
} 
.buttons_area {
    width: 150px;
}
.buttons_acpt::after {
    content: 'Aceitar';
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons_rej::after {
    content: 'Rejeitar';
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons_edit::after {
    content: 'Editar';
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons_d {
    height: 50px;
    margin-left: 0px;
    background-color: #444444;
    border:1px solid #252525 
}
.buttons_d:hover {
    cursor: pointer;
    background-color: #363636;
    transition: all linear 0.25s;
}
.row {
    display: flex;
    flex-direction: row !important;
}
main .container {
    min-height: 91vh;
    background-color: #252525;
}
.info_cont {
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
}
.C_1 {
    flex: 1;
}
.conteudo_C {
    margin: 0px 19px 30px 2px;
}
.loading {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_lo {
    width: calc(100vh / 3);
    height: calc(100vh /3);
    background-image: url(../../../../assets/imgs/default/Beep_logo_white.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/* essencial para o mensagem_element */
.error_custom {
    width: auto;
    height: auto;
    border-radius: 3px;
    background-color: #474747f5;
    color: #dddddd;
    position: absolute;
    padding: 15px;
}.error_custom:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid transparent;
    border-bottom: 15px solid #474747f3;
    top: -30px;
    left: 2px;
}
.denuncias_area {
    display: flex;
    flex-direction: column;
}
.modal_user {
    height: auto;
    position: absolute;
    opacity: 1;
    width: 190px;
    box-shadow: 0px 0px 7px 3px #232324;
    margin-top: 55px;
    background-color: #232324;
    transition: all ease 0.15s;
}
.modal_opt_user_area {
    position: absolute;
}
.logout_exit {
    padding-left: 50px !important;
    background-image: url(../../../../assets/imgs/default/logout.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position:10px ;

}
.user_exit {
    padding-left: 50px !important;
    background-image: url(../../../../assets/imgs/default/perfil-de-usuario.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position:10px ;

}
.publica_img {
    padding-left: 50px !important;
    background-image: url(../../../../assets/imgs/default/publicacao_d.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position:10px ;
}
.opts_user {
    background-color: transparent;
    padding: 15px 0px;
}
.opts_user:hover {
    cursor: pointer;
    background-color: #333335b6;
    transition: all linear 0.25s;
}
.menu_area {
    position: absolute;
}
.menu_show_ {
    position: absolute;
    width: 150px;
    margin-left: -100px;
    margin-top: 27px;
    background-color: #232324;
    box-shadow: 0px 0px 7px 3px #232324;
}
.title_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    padding-right: 20px;
}
.title_list .area_1 {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.col_title_list {
    margin-left: 17px;
}
.num_list {
    margin-right: 30px;
}
.title_C {
    color: #919191;
    margin-bottom: 3px;
}

.quarentena {
    color: #969696;
    font-size: 15px;
}